/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 2.5rem;
  /* 40px / 16px = 2.5rem */
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 50rem;
  /* 800px / 16px = 50rem */
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0.625rem;
  /* 10px / 16px = 0.625rem */
  box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2);
  /* 10px / 16px = 0.625rem */
  padding: 1.25rem;
  /* 20px / 16px = 1.25rem */
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

form {
  padding-bottom: 1.25rem;
  /* 20px / 16px = 1.25rem */
}

h1 {
  color: #333;
  text-align: center;
}

/* Estilos para o botão de alternar o modo escuro */
#toggleDarkMode {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 0.625rem 1.25rem;
  /* 10px / 16px = 0.625rem, 20px / 16px = 1.25rem */
  border-radius: 0.3125rem;
  /* 5px / 16px = 0.3125rem */
  cursor: pointer;
  font-size: 1rem;
  /* 16px / 16px = 1rem */
  margin-bottom: 0.625rem;
  /* 10px / 16px = 0.625rem */
  /* Espaçamento inferior para separar dos elementos abaixo */
  transition: background-color 0.3s, color 0.3s;
}

#toggleDarkMode:hover {
  background-color: #555;
}

/* Estilo para botões no modo claro */
.light-mode button {
  background-color: #007bff;
  /* Cor de fundo azul */
  color: #fff;
  /* Cor do texto branco */
}

.light-mode button:hover {
  background-color: #0056b3;
  /* Cor mais escura no hover */
}

/* Estilo para o modo escuro */
.dark-mode {
  background-color: #111;
  color: #ffffff;
}

/* Estilização do .container para o modo escuro */
.dark-mode .container {
  background-color: #222;
  /* Cor de fundo do .container no modo escuro */
  color: #ffffff;
  /* Cor do texto do .container no modo escuro */
}

/* Cores de texto personalizadas para o modo escuro */
.dark-mode h1,
.dark-mode label,
.dark-mode p,
.dark-mode span,
.dark-mode .result {
  color: #ffffff;
  /* Cor do texto para cabeçalhos, labels, parágrafos, e spans no modo escuro */
}

/* Cores de texto para botões no modo escuro */
.dark-mode button {
  background-color: #007bff;
  /* Cor de fundo dos botões no modo escuro */
  color: #fff;
  /* Cor do texto dos botões no modo escuro */
  padding: 0.625rem 1.25rem;
  /* 10px / 16px = 0.625rem, 20px / 16px = 1.25rem */
  border-radius: 0.3125rem;
  /* 5px / 16px = 0.3125rem */
  cursor: pointer;
  font-size: 1rem;
  /* 16px / 16px = 1rem */
}

.dark-mode button:hover {
  background-color: #0056b3;
  /* Cor do botão no hover no modo escuro */
}

.dark-mode th {
  background-color: #333;
  color: #fff;
}

/* Estilos para o rótulo */
label {
  font-size: 1.125rem;
  /* 18px / 16px = 1.125rem */
  color: #333;
  display: block;
  text-align: center;
  /* Centraliza o texto horizontalmente */
  margin: 0.625rem auto;
  /* 10px / 16px = 0.625rem */
}

/* Estilos para o input */
input[type='text'] {
  background-color: #f2f2f2;
  width: 80%;
  /* Reduz a largura do input para 80% do .container */
  padding: 0.625rem;
  /* 10px / 16px = 0.625rem */
  margin: 0 auto;
  /* Centraliza o input horizontalmente */
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  /* 5px / 16px = 0.3125rem */
  font-size: 1rem;
  /* 16px / 16px = 1rem */
  display: block;
  /* Coloca o input em uma linha separada */
  color: #333;
  /* Cor do texto dentro do input */
}

/* Estilos para a div de botões */
.button-container {
  text-align: center;
  /* Centraliza os botões horizontalmente */
  margin-top: 0.625rem;
  /* 10px / 16px = 0.625rem */
  /* Espaçamento superior para separar dos elementos acima */
}

/* Estilos para os botões dentro da div */
.button-container button {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 0.625rem 1.25rem;
  /* 10px / 16px = 0.625rem, 20px / 16px = 1.25rem */
  border-radius: 0.3125rem;
  /* 5px / 16px = 0.3125rem */
  cursor: pointer;
  font-size: 1rem;
  /* 16px / 16px = 1rem */
  margin: 0 0.3125rem;
  /* 5px / 16px = 0.3125rem */
  /* Espaçamento horizontal entre os botões */
}

.button-container button:hover {
  background-color: #555;
  /* Cor do botão no hover no modo escuro */
}

p {
  font-size: 1.125rem;
  /* 18px / 16px = 1.125rem */
  color: #333;
  margin: 0.625rem 0;
  /* 10px / 16px = 0.625rem */
}

/* Estilo para a palavra "Resultado" */
.result {
  margin-top: 2rem;
  font-size: 1.5rem;
  /* 24px / 16px = 1.5rem */
  /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  /* Texto em negrito para destaque */
  color: #333;
  /* Cor azul */
}

span {
  font-weight: bold;
}

/* Estilos para a tabela de frequência */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4rem;
  /* 20px / 16px = 1.25rem */
  margin-bottom: 4rem;
  /* 20px / 16px = 1.25rem */
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  /* 8px / 16px = 0.5rem */
  text-align: center;
}

th {
  background-color: #333;
  color: #fff;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 24px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.625rem;
  }

  .button-container button {
    width: 100%;
    margin: 0.3125rem 0;
    padding: 0.625rem;
    font-size: 1rem;
  }

  #toggleDarkMode {
    display: none;
  }

  .results ul {
    list-style-type: none;
    padding: 0;
  }

  .results li {
    margin: 0.3125rem 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }

  th,
  td {
    padding: 0.625rem;
    text-align: center;
    border: 1px solid #333;
  }

  th {
    background-color: #333;
    color: #fff;
  }

  tbody td {
    background-color: #f2f2f2; /* Cor de fundo original */
  }

  tbody tr:nth-child(even) td {
    background-color: #ffffff; /* Cor de fundo original */
  }

  /* Movido para fora do bloco tbody tr:nth-child(even) td */
  canvas#frequencyChart {
    width: 100%;
    max-width: 400px; /* Defina um tamanho máximo adequado */
    height: auto; /* Ajusta automaticamente a altura para manter a proporção */
    margin: 1rem auto;
    display: block;
  }
}
