/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: left;
}

form {
  padding-bottom: 40px;
}

h1 {
  color: #333;
  text-align: center;
}

/* Estilos para o botão de alternar o modo escuro */
#toggleDarkMode {
  background-color: #F2D5C4;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  /* Espaçamento inferior para separar dos elementos abaixo */
}

#toggleDarkMode:hover {
  background-color: #BF4E63;
}

/* Estilo para botões no modo claro */
.light-mode button {
  background-color: #007bff;
  /* Cor de fundo azul */
  color: #fff;
  /* Cor do texto branco */
}

.light-mode button:hover {
  background-color: #007bff;
  /* Cor mais escura no hover */
}

/* Estilo para o modo escuro */
.dark-mode {
  background-color: #333;
  color: #F2D5C4;
}

/* Estilização do .container para o modo escuro */
.dark-mode .container {
  background-color: #303440;
  /* Cor de fundo do .container no modo escuro */
  color: #F2D5C4;
  /* Cor do texto do .container no modo escuro */
}

/* Cores de texto personalizadas para o modo escuro */
.dark-mode h1,
.dark-mode label,
.dark-mode p,
.dark-mode span,
.dark-mode .result {
  color: #F2D5C4;
  /* Cor do texto para cabeçalhos, labels, parágrafos, e spans no modo escuro */
}

/* Cores de texto para botões no modo escuro */
.dark-mode button {
  background-color: #F2D5C4;
  /* Cor de fundo dos botões no modo escuro */
  color: #333;
  /* Cor do texto dos botões no modo escuro */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dark-mode button:hover {
  background-color: #BF4E63;
  /* Adiciona sublinhado ao passar o mouse sobre os links no modo escuro */
}

.dark-mode th {
  background-color: #F2D5C4;
  color: #333;
}

/* Estilos para o rótulo */
label {
  font-size: 18px;
  color: #333;
  display: block;
  text-align: center;
  /* Centraliza o texto horizontalmente */
  margin: 10px auto;
  /* Centraliza o rótulo verticalmente e espaçamento automático nas laterais */
}

/* Estilos para o input */
input[type='text'] {
  background-color: #F2D5C4;
  width: 80%;
  /* Reduz a largura do input para 80% do .container */
  padding: 10px;
  margin: 0 auto;
  /* Centraliza o input horizontalmente */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  /* Coloca o input em uma linha separada */
}

/* Estilos para a div de botões */
.button-container {
  text-align: center;
  /* Centraliza os botões horizontalmente */
  margin-top: 10px;
  /* Espaçamento superior para separar dos elementos acima */
}

/* Estilos para os botões dentro da div */
.button-container button {
  background-color: #F2D5C4;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  /* Espaçamento horizontal entre os botões */
}

.button-container button:hover {
  background-color: #BF4E63;
}

p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

/* Estilo para a palavra "Resultado" */
.result {
  font-size: 24px;
  /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  /* Texto em negrito para destaque */
  color: #333;
  /* Cor azul */
}

span {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #F2D5C4;
  color: #333;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  input[type='text'] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  table {
    font-size: 14px;
  }
}