/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 2.5rem; /* 40px / 16px = 2.5rem */
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 50rem; /* 800px / 16px = 50rem */
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0.625rem; /* 10px / 16px = 0.625rem */
  box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2); /* 10px / 16px = 0.625rem */
  padding: 1.25rem; /* 20px / 16px = 1.25rem */
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  color: #333;
}

/* Estilos para o botão de alternar o modo escuro */
#toggleDarkMode,
button#calculate,
button#clear,
button#showExplanation {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 0.625rem;
  transition: background-color 0.3s, color 0.3s;
}

#toggleDarkMode:hover,
button#calculate:hover,
button#clear:hover,
button#showExplanation:hover {
  background-color: #555;
}

/* Estilo para o modo escuro */
.dark-mode {
  background-color: #111;
  color: #ffffff;
}

/* Estilização do .container para o modo escuro */
.dark-mode .container {
  background-color: #222;
}

/* Cores de texto personalizadas para o modo escuro */
.dark-mode h1,
.dark-mode label,
.dark-mode p {
  color: #ffffff;
}

/* Mudanças no select no modo escuro */
.dark-mode select {
  background-color: #555;
}

.dark-mode select option:hover {
  background-color: #333;
  color: #fff;
}

.operation-select {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

select {
  width: 100%;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #555;
  transition: background-color 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px;
  font-size: 16px;
  outline: 1px solid transparent;
}

select:hover {
  background-color: #777;
}

.input-fields {
  margin-bottom: 20px;
}

.input-fields label {
  display: block;
  margin-top: 10px;
}

input[type='number'] {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #555;
  font-size: 16px;
  outline: 1px solid transparent;
}

option {
  color: #fff;
  background-color: #555;
}

#calculate,
#clear {
  color: #555;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* Estilos para a tabela no modo escuro */
.dark-mode table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ddd;
}

.dark-mode th,
.dark-mode td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.dark-mode th {
  background-color: #f2f2f2;
}

.dark-mode tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dark-mode tr:hover {
  background-color: #ddd;
}

/* Cores de texto para a tabela no modo escuro */
.dark-mode th,
.dark-mode td {
  color: #fff;
}

/* Cores de fundo para a tabela no modo escuro */
.dark-mode tr,
.dark-mode th,
.dark-mode td {
  background-color: #222;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 0.625rem;
}

footer p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s, color 0.3s;
}

footer a:hover {
  color: #666;
  border-bottom: 2px solid #666;
}

footer .signature {
  font-style: italic;
  font-size: 0.9rem;
  color: #555;
}

/* Transição suave entre temas claro e escuro */
body,
.container {
  transition: background-color 0.5s, color 0.5s;
}

/* Adicione transição suave para o modo escuro */
.dark-mode,
.dark-mode .container {
  transition: background-color 0.5s, color 0.5s;
}

/* Adicione animação de fade-in para a tabela no modo escuro */
.dark-mode table {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-column {
  display: inline-block;
  margin-right: 20px;
}

/* Estilos específicos para telas menores */
@media (max-width: 768px) {
  #toggleDarkMode {
    display: none;
  }

  .container {
    padding: 1rem;
    margin: 10px;
  }

  select,
  input[type='number'] {
    font-size: 14px;
  }

  footer p {
    font-size: 1rem;
  }

  .input-column {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .input-fields label {
    margin-top: 5px;
  }

  input[type='number'] {
    font-size: 14px;
  }

  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 5px;
  }

  .result {
    font-size: 16px;
    margin-top: 10px;
  }
}
